html body {
    margin: 0;
}

.main-container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 20vw 80vw;
}

.left-container {
    grid-area: 1/1/1/1;
    background-color: aqua;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

.icons-container {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 60%;
}

.links {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 60%;
}

.icon {

}

.link {
    justify-self: start;
    align-self: center;
}

.right-container {
    grid-area: 1/2/1/2;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: 10vh 10vh;
}

.search-container {
    background-color: red;
    grid-area: 1/1/1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.search-icon {

}

.search-bar {
    border: 2px solid black;
    background-color: grey;
    border-radius: 5px;
    width: 70%;
    height: 30%;
}

.profile-container {
    background-color: green;
    grid-area: 1/3/1/4;
    display: flex;
    justify-content: end;
    align-items: start;
    gap: .5vw;
}

.profile-name-display {
    font-size: clamp(12px, calc(1.5vw + 1.5vh), 64px);
}

.welcome-container {
    background-color: yellow;
    grid-area: 2/1/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.welcome-profile-icon {
    width: clamp(29px, calc(2vw + 2vh), 48px);
    height: auto;
}

.welcome-text {
    align-self: start;
    font-size: clamp(12px, calc(1vw + 1vh), 50px)

}

.welcome-name {
    align-self: end;
    font-size: clamp(12px, calc(1vw + 1vh), 50px)
}

.controls-container {
    background-color: pink;
    grid-area: 2/3/2/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

button {
    border-radius: 10px;;
}

.controls-container button {
    font-size: calc(1vw + 1vh);
}

.content-container {
    display: grid;
    grid-template-columns: 65vw 15vw;
    grid-template-rows: 40vh 40vh;
}

.projects-container {
    background-color: blue;
    grid-area: 1/1/3/1;
    display: grid;
    grid-template-rows: 5% 95%;
}

.cards-label {
    font-size: clamp(12px, calc(1vw + 1vh), 48px);
    margin-left: 2vw;
    margin-top: 1vw;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    margin: 2vw;
    margin-top: 1vw;
    margin-bottom: 0px;;
    gap: 2vw;
}

.card {
    background-color: white;
    border-radius: 5px;
    border-left: 10px solid orange;
    display: flex;
    flex-direction: column;
    padding: .7vw;
    margin-bottom: 5px;
}

.card-title {
    font-weight: bold;
    margin: .5vw;
}

.card-text {
    margin: .5vw;
}

.card-icon-container {
    display:flex;
    align-self: end;
}

.card-icon-container img {
    padding: 10px;
}

.announcements-container {
    background-color: orange;
    grid-area: 1/2/1/2;
    display: grid;
    grid-template-rows: 10% 90%;
}

.announcements-label {
    font-size: 12px;
    margin-top: 1vw;
    justify-self: center;
}

.announcement-title {
    font-weight: bold;
    font-size: 12px;
    margin-top: .5vh;
    margin-bottom: .5vh;
    display:flex;
    justify-content: center;
}

.announcement-text {
    font-size: 12px;
    margin-top: 0vh;
    margin-bottom: 0vh;
    display: flex;
    justify-content: center;
    padding: .5vw;
}

.announcement-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.announcement-card {
    border-bottom: .5vh solid rgba(128, 128, 128, 0.466);
    border-radius: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}

.trending-container {
    background-color: gray;
    grid-area: 2/2/2/2;
    display: grid;
    grid-template-rows: 10% 90%;
}

.trending-label {
    font-size: clamp(12px, calc(1vw + 1vh), 48px);
    margin-left: 2vw;
    margin-top: 1vw;
}

.trending-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.trending-card {
    background-color: white;
    border: 5px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.icons {
    width: clamp(12px, calc(1.5vw + 1.5vh), 36px);
    height: auto;
    justify-self: center;
    align-self: center;
}

#dashboard-icon {
    width: clamp(29px, calc(2vw + 2vh), 48px);
    height: auto;
    justify-self: center;
    align-self: center;
    padding-top: 10px;
}

#dashboard-text {
    font-size: clamp(12px, calc(2vw + 2vh), 48px);
    padding-top: 10px;
    margin-right: 1vw;
}

.link {
    font-size: clamp(12px, calc(1.5vw + 1.5vh), 36px);
}

#profile-picture {
    width: clamp(12px, calc(1.5vw + 1.5vh), 36px);
    height: auto;
}

#welcome-profile-picture {
    width: 4vw;
    height: 4vw;
}

#notification-icon {
    align-self: start;
}



