html body {
    margin: 0;
    min-height: 600px;
}

.main-container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: minmax(100px, clamp(200px, 20vw, 300px)) auto;
}

.left-container {
    grid-area: 1/1/1/1;
    background-color: aqua;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

.icons {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 60%;
}

.links {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    height: 60%;
}

.icon {

}

.link {

}

.right-container {
    grid-area: 1/2/1/2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh;
}

.header-container {
    background-color: blue;
}

.content-container {
    background-color: blueviolet;
}